.tooltip:after {
    padding: 3px !important;
    position: relative;
    max-width: 100px;
    text-align: center;
    background-color: #292929;
    color: rgb(192, 192, 192);
    z-index: 10;

    opacity: 0;
    transition-property: opacity;
    pointer-events: none;
}

.tooltip:hover:before {
    opacity: 1;
    transition-delay: 1s;
}

.tooltip:after {
    opacity: 0;
    transition-delay: 0s;
}

.tooltip:hover:after {
    opacity: 1;
    transition-delay: 1s;
}

.tooltip_general:after {
    content: "general options";
}

.tooltip_normalization:after {
    content: "options for the data normalization";
}

.tooltip_replicates:after {
    content: "options for combining the individual datasets";
}

.tooltip_interface:after {
    content: "options for the graphical user interface";
}

.tooltip_filters:after {
    content: "options for filtering the data";
}

.tooltip_export:after {
    content: "options for exporting to a file";
}

.tooltip_quick_config:after {
    content: "various presettings";
}

.tooltip_show_hide:after {
    content: "toggle the visibility of several GUI elements";
}

.tooltip_normalize_by:after {
    content: "normalize the matrix in various ways";
}

.tooltip_multi_mapping:after {
    content: "how to deal with reads that map to more than one loci";
}

.tooltip_in_group:after {
    content: "combine the datasets that belong to the same group by...";
}

.tooltip_between_groups:after {
    content: "combine the two groups by...";
}

.tooltip_stretch_scale:after {
    content: "stretch or scale the main matrix";
}

.tooltip_bin_aspect_ratio:after {
    content: "set the height to width ratio of bins relative to...";
}

.tooltip_snap_bin_size:after {
    content: "restrict the allowed binsizes";
}

.tooltip_symmetry:after {
    content: "filter interactions for symmetry";
}

.tooltip_row_coordinates:after {
    content: "Pick the coordinate system of the x-axis";
}

.tooltip_column_coordinates:after {
    content: "Pick the coordinate system of the y-axis";
}

.tooltip_multiple_annotations_in_bin:after {
    content: "For annotation-based coordinate systems: pick how to deal with bins that encompass multiple annotations";
}

.tooltip_export:after {
    content: "export to a file";
}

.tooltip_grid_seq:after {
    content: "Configure smoother to look like the GRID-seq paper analysis";
}

.tooltip_radicl_seq:after {
    content: "Configure smoother to look like the RADICL-seq paper analysis";
}

.tooltip_color:after {
    content: "Pick the color palette for the heatmap";
}

.tooltip_info:after {
    content: "various information";
}
