textarea {
    resize: none;
}

.options_panel {
    border-left: 1px solid #D3D3D3 !important;
}

.scroll_y{
    overflow-y: auto !important;
    overflow-x: hidden !important;
    height: 100% !important;
}

.scroll_y2 {
    overflow-y: auto !important;
    overflow-x: hidden !important;
    display: flex !important;
    flex-direction: column-reverse !important;
}

.outlnie_border {
    border: 1px solid #ccc !important;
    border-radius: 4px !important;
}

.top_border {
    border-top: 1px solid #D3D3D3 !important;
}
.bottom_border {
    border-bottom: 1px solid #D3D3D3 !important;
}

.twenty_percent {
    overflow-y: auto !important;
    overflow-x: hidden !important;
    height: 15% !important;
}

.menu_group {
    text-align: left;
    font-weight: bold;
}

.other_button {
    text-align: center;
    padding: 6px 12px;
}

.text_align_center {
    text-align: center !important;
}

.other_button-active {
    background-color: #ebebeb;
    border-color: #adadad;
    box-shadow: inset 0 3px 5px rgb(0 0 0 / 13%);
}

.fa_sort_up_solid {
    background-image: url(sort-up-solid.svg) !important;
    background-size: cover;
}

.fa_sort_down_solid {
    background-image: url(sort-down-solid.svg) !important;
    background-size: cover;
}

.fa_page_next_solid {
    background-image: url(page-next-solid.svg) !important;
    background-size: cover;
}

.fa_page_previous_solid {
    background-image: url(page-previous-solid.svg) !important;
    background-size: cover;
}

.fa_page_next {
    background-image: url(page-next.svg) !important;
    background-size: cover;
}

.fa_page_previous {
    background-image: url(page-previous.svg) !important;
    background-size: cover;
}

.fa_apply {
    background-image: url(play-button.svg) !important;
    background-size: cover;
}

.fa_reset {
    background-image: url(repeat-solid.svg) !important;
    background-size: contain;
    background-repeat: no-repeat;
}

.fa_reset_disabled {
    background-image: url(repeat-solid-disabled.svg) !important;
    background-size: cover;
}

.fa_save {
    background-image: url(floppy-disk-solid.svg) !important;
    background-size: cover;
}

.white_background {
    background-color: white !important;
}

body {
    margin: 0
}

.vertical {
    transform: rotate(-180deg);
    writing-mode: tb-rl;
    white-space: nowrap;
}

button {
    text-align: inherit;
}

.bk .bk-input {
    text-align: inherit;
}

.bk-root .bk-btn {
    text-align: inherit;
    padding: 6px 0px;
    font-weight: inherit;
}

.bk-btn-light:hover {
    box-shadow: none !important;
    background-color: transparent !important;
    text-decoration: none !important;
    border: none !important;
}

.bk-root .bk-tabs-header .bk-tab.bk-active {
    border-top-color: #26aae1 !important;
}

.bk-root .bk-btn-light.bk-active {
    background-color: transparent !important;
    border-color: transparent;
    font-weight: inherit;
}

.bk-root .bk-btn-light {
    background-color: transparent !important;
    border-color: transparent;
    font-weight: inherit;
}
.bk-tooltip>div:not(:first-child) {
    display: none;
}

.bk-root .bk-btn:active,
.bk-root .bk-btn.bk-active {
    box-shadow: inherit;
    font-weight: inherit;
}

.bk-below {
    text-align: left;
}

.bk {
    font-family: Consolas, 'Courier New', monospace !important;
    font-size: 11px !important;
}

.tab-header{
    width: 100%;
    overflow: hidden;
    border-bottom: 1px solid #e6e6e6;
    margin-top: 5px;
}

.mainTab {
    top: 34px !important; 
    bottom: 26px !important;
    position: absolute !important;
}

.tab-button {
    white-space: normal;
    padding: 8px 8px;
    float: left;
    width: auto;
    border: none;
    display: block;
    outline: 0;
    background-color: white;
    font-family: Consolas, 'Courier New', monospace !important;
    font-size: 11px !important;
}

.tab-button-active {
    border: solid;
    border-width: 3px 1px 0px 1px;
    border-color: #e6e6e6;
}

.tab-button:hover{
    background-color: #f2f2f2;
}

.lds-spinner {
    color: official;
    display: inline-block;
    position: relative;
    width: 22px;
    height: 22px;
}

.lds-spinner div {
    transform-origin: 11px 11px;
    animation: lds-spinner 2s linear infinite;
}

.lds-spinner div:after {
    content: " ";
    display: block;
    position: absolute;
    top: 1px;
    left: 10px;
    width: 2px;
    height: 6px;
    border-radius: 40%;
    background: #000000;
}

.lds-spinner div:nth-child(1) {
    transform: rotate(0deg);
    animation-delay: -1.1s;
}

.lds-spinner div:nth-child(2) {
    transform: rotate(30deg);
    animation-delay: -1s;
}

.lds-spinner div:nth-child(3) {
    transform: rotate(60deg);
    animation-delay: -0.9s;
}

.lds-spinner div:nth-child(4) {
    transform: rotate(90deg);
    animation-delay: -0.8s;
}

.lds-spinner div:nth-child(5) {
    transform: rotate(120deg);
    animation-delay: -0.7s;
}

.lds-spinner div:nth-child(6) {
    transform: rotate(150deg);
    animation-delay: -0.6s;
}

.lds-spinner div:nth-child(7) {
    transform: rotate(180deg);
    animation-delay: -0.5s;
}

.lds-spinner div:nth-child(8) {
    transform: rotate(210deg);
    animation-delay: -0.4s;
}

.lds-spinner div:nth-child(9) {
    transform: rotate(240deg);
    animation-delay: -0.3s;
}

.lds-spinner div:nth-child(10) {
    transform: rotate(270deg);
    animation-delay: -0.2s;
}

.lds-spinner div:nth-child(11) {
    transform: rotate(300deg);
    animation-delay: -0.1s;
}

.lds-spinner div:nth-child(12) {
    transform: rotate(330deg);
    animation-delay: 0s;
}

@keyframes lds-spinner {
    0% {
        opacity: 0;
    }

    10% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

.fade-out {
    animation: fadeOut ease 1s forwards;
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.fade-in {
    animation: fadeIn ease 0.2s forwards;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.grid-container {
    display: grid;
    gap: 1px;
    padding: 1px;
    grid-template-columns: repeat(6, fit-content(100%)) 1fr;
    grid-template-rows: 1fr repeat(6, fit-content(100%));
    height: 100%;
    width: 100%;
}
.grid-item {
    min-width: 0;
    min-height: 0;
}
html, body {
    height: 100%;
    margin: 0;
    overflow: hidden;
}