.tooltip:after {
    padding: 3px !important;
    position: relative;
    max-width: 100px;
    text-align: center;
    background-color: #292929;
    color: rgb(192, 192, 192);
    z-index: 10;

    opacity: 0;
    transition-property: opacity;
    pointer-events: none;
}

.tooltip:hover:before {
    opacity: 1;
    transition-delay: 1s;
}

.tooltip:after {
    opacity: 0;
    transition-delay: 0s;
}

.tooltip:hover:after {
    opacity: 1;
    transition-delay: 1s;
}

.tooltip_general:after {
    content: "general options";
}

.tooltip_area_range:after {
    content: "area that is displayed in the heatmap. Edit the value of this field to jup to a certain locus";
}

.tooltip_contig_smaller_than_bin:after {
    content: "Place a bin in contigs that are smaller than the bin-size. With many small contigs, this might slow down smoother significantly.";
}

.tooltip_ploidy_correct:after {
    content: "Apply ploidy correction to the heatmap data.";
}

.tooltip_ploidy_keep_distinct_group:after {
    content: "During ploidy correction: Keep interactions from contig-pairs, where the two contigs never appear in the same ploidy group. ";
}

.tooltip_ploidy_keep_inter_group:after {
    content: "During ploidy correction: Keep interactions from instance-pairs, where the two instances are in the same group.";
}

.tooltip_ploidy_remove_others:after {
    content: "During ploidy correction: Remove interactions that are not explicitly kept/removed by any of the other options.";
}

.tooltip_ploidy_remove_intra_instance_contig:after {
    content: "During ploidy correction: Remove interactions that are between two different instances of the same contig.";
}

.tooltip_ploidy_coords:after {
    content: "Use the contig order defined by the ploidy file. Otherwise the contig order defined by the sizes file is used.";
}

.tooltip_ice_num_samples:after {
    content: "The number of samples to compute during IC normalization.";
}

.tooltip_ice_show_bias:after {
    content: "Display the IC bias as a track.";
}

.tooltip_local_ice:after {
    content: "Only use the visible bins to compute the IC bias.";
}

.tooltip_do_redraw:after {
    content: "Automatically redraw the heatmap when panning or zooming.";
}

.tooltip_render_now:after {
    content: "redraw the heatmap now.";
}

.tooltip_directionality:after {
    content: "Filter interactions by directionality.";
}

.tooltip_center_tracks_on_bins:after {
    content: "For the secondary data panel: place the points of the line at the center of bins. If this is disabled, two line-points are drawn for every bin, one at the start one at the end.";
}

.tooltip_zero_track_at_ends:after {
    content: "For the secondary data panel: draw an additional line-point at (0/0) and (0/end).";
}

.tooltip_connect_tracks_over_contig_borders:after {
    content: "For the secondary data panel: connect the lines over contig borders.";
}

.tooltip_tracks_log_scale:after {
    content: "For the secondary data panel: display the values on a log-scale";
}

.tooltip_export_stroke_width:after {
    content: "For the secondary data panel: set the stroke width of lines in the exported image.";
}

.tooltip_v4c_do_column:after {
    content: "Compute a Virtual 4C track for the columns of the heatmap.";
}

.tooltip_v4c_column:after {
    content: "Set the Viewpoint (on the y-axis) for the Virtual 4C track of the columns.";
}

.tooltip_v4c_do_row:after {
    content: "Compute a Virtual 4C track for the rows of the heatmap.";
}

.tooltip_v4c_row:after {
    content: "Set the Viewpoint (on the x-axis) for the Virtual 4C track of the rows.";
}

.tooltip_max_char_of_labels:after {
    content: "Truncate labels to this many characters.";
}

.tooltip_ignore_cis:after {
    content: "Ignore cis interactions during the computation of associated slices.";
}

.tooltip_anno_coordinates_col:after {
    content: "Use annotation coordinates for the columns of the heatmap. Then, each column corresponds to a gene.";
}

.tooltip_anno_coordinates_row:after {
    content: "Use annotation coordinates for the rows of the heatmap. Then, each row corresponds to a gene.";
}

.tooltip_annotation_filter:after {
    content: "Pick the annotation that is filtered for.";
}

.tooltip_annotation_filter_col:after {
    content: "Apply the annotation filter to the columns. Then only interactions that overlap the picked annotation  on the x-axis are displayed.";
}

.tooltip_annotation_filter_row:after {
    content: "Apply the annotation filter to the rows. Then only interactions that overlap the picked annotation  on the y-axis are displayed.";
}

.tooltip_meta_file:after {
    content: "path to the opened index";
}

.tooltip_remainder_bin:after {
    content: "Remainder bins are the last bins in each contig. They are not fullsize, since usually the contig size is not an exact multiple of the bin size. Choose here how to deal with these bins.";
}

.tooltip_section_size_max_cov:after {
    content: "Pick the binsize of the samples that are taken to determine Associated slices.";
}

.tooltip_radicl_num_samples:after {
    content: "Number of samples used to determine the coverage of each slice. This coverage is then used in the binominal test.";
}

.tooltip_backg_as_sec_data:after {
    content: "Display the sampled background in the secondary data panel.";
}

.tooltip_cov_as_sec_data:after {
    content: "Display the sampled coverage in the secondary data panel.";
}

.tooltip_comp_backg_col:after {
    content: "If ticked, the normalization is applied column-wise, else row-wise.";
}

.tooltip_intersect_repl:after {
    content: "Use the minimum number of interactions between datasets (intersection) as background; otherwise use the maximum.";
}

.tooltip_anno_type:after {
    content: "Pick which annotation to compute the background for.";
}

.tooltip_rna_filter:after {
    content: "Acceptable bounds for the average number of reads per kbp. ";
}

.tooltip_dna_filter:after {
    content: "Acceptable bounds for the maximal number of reads per kbp. ";
}

.tooltip_export_coordinate_size:after {
    content: "The size of the area coordinates are rendered in for the exported image.";
}

.tooltip_export_axis_size:after {
    content: "The size of the area the secondary axes are rendered in for the exported image.";
}

.tooltip_export_contigs_size:after {
    content: "The size of the area contig names are rendered in for the exported image.";
}

.tooltip_normalize_by_coverage:after {
    content: "normalize the coverage tracks in various ways";
}

.tooltip_divide_column:after {
    content: "divide the heatmaps columns by the coverage track";
}

.tooltip_divide_row:after {
    content: "divide the heatmaps rows by the coverage track";
}

.tooltip_color_layout:after {
    content: "the color scale of the heatmap";
}

.tooltip_minimum_interactions:after {
    content: "subtract this many interactions from each bin";
}

.tooltip_color_scale_range:after {
    content: "range of the color scale of the main heatmap";
}

.tooltip_color_scale_log_base:after {
    content: "logarithmic base for the color scale. Set to zero for a linear scale";
}

.tooltip_ice_sparse_filter:after {
    content: "Filter out all slices where less than x percent of bins have a value larger than zero";
}

.tooltip_scale_color_range:after {
    content: "scale the final values of the main heatmap; where V is the set of all values, x' a scaled and x the respective unscaled value.";
}

.tooltip_coverage_normalization:after {
    content: "pick which tracks to display on the x/y-axis and to include in the main coverage";
}

.tooltip_p_accept:after {
    content: "the acceptance p-value for the binominal test normalization. Does nothing for other normalizations.";
}

.tooltip_replicates:after {
    content: "pick which replicates to show in the heatmap and which to show as coverage tracks.";
}

.tooltip_query_max_cov_col:after {
    content: "When querying the coverage of replicates, query the maximal coverage per secion instead of the full coverage of the column.";
}

.tooltip_section_size_max_coverage:after {
    content: "When querying the coverage of replicates, query the maximal coverage per secion instead of the full coverage of the column.";
}

.tooltip_query_max_cov_row:after {
    content: "The section size when querying the maximal coverage per section of replicates.";
}

.tooltip_max_number_of_bins:after {
    content: "Number of bins to display on the heatmap. This is the main runtime deciding factor.";
}

.tooltip_min_bin_size:after {
    content: "The minimal size of bins in the main heatmap.";
}

.tooltip_update_frequency:after {
    content: "Delay between checking if the heatmap needs to be rerendered due to panning or zooming.";
}

.tooltip_redraw_zoom:after {
    content: "Redraw the heatmap if less than x% of the previously rendered heatmap area is visible.";
}

.tooltip_add_draw_area:after {
    content: "Increase the rendered area by x% over the visible area. This way, panning does not trigger re-rendering immediately.";
}

.tooltip_anno_size:after {
    content: "Size of the annotation plot.";
}

.tooltip_raw_size:after {
    content: "Size of the coverage plot.";
}

.tooltip_color_low:after {
    content: "The start color of the 'Low to High' palette.";
}

.tooltip_color_high:after {
    content: "The end color of the 'Low to High' palette.";
}

.tooltip_y_axis_label:after {
    content: "The axis lables to display.";
}

.tooltip_map_q_bounds:after {
    content: "Filter out all reads with a mapping quality that does not fall into these bounds. The mapping quality represents an aligners confidence into the correctess of an alignment. The highest possible confidence is 254 while the lowest is zero.";
}

.tooltip_ddd_quantiles:after {
    content: "Exclude the top and bottom x% of samples when computing the distance dependant decay average.";
}

.tooltip_ddd_samples:after {
    content: "Number of samples to compute for the distance dependant decay average. Will always try to compute as many samples as possible but never more than the maximum picked by this slider. Diagonals with less than the minimum amount will be masked out.";
}

.tooltip_incomplete_alignments:after {
    content: "Some reads map to more loci on the genome than can be reported by the aligner. In this situation the aligner may choose some strategy to report at least one of the mapping loci. We call these alignments incomplete, they can be shown using this option but may introduce a lot of noise into the heatmap.";
}

.tooltip_min_diag_dist:after {
    content: "Filter out all bins closer to the diagonal than this value.";
}

.tooltip_annotations:after {
    content: "Pick which annotations to display.";
}

.tooltip_multiple_bin_for_anno:after {
    content: "For annotation-based coordinate systems: pick how to deal with annotations that fall into multiple bins.";
}

.tooltip_chromosomes:after {
    content: "Pick which contigs to display.";
}

.tooltip_export_prefix:after {
    content: "A common prefix for exported files.";
}

.tooltip_full_matrix:after {
    content: "Export the full matrix instead of merely the visible area.";
}

.tooltip_export_format:after {
    content: "Pick the format that files shall be exported to.";
}

.tooltip_export:after {
    content: "Export the data now!";
}

.tooltip_coverage_filter_col:after {
    content: "Filter out heatmap columns with a coverage outside these bounds.";
}

.tooltip_coverage_filter_row:after {
    content: "Filter out heatmap rows with a coverage outside these bounds.";
}

.tooltip_normalization:after {
    content: "options for the data normalization";
}

.tooltip_replicates:after {
    content: "options for combining the individual datasets";
}

.tooltip_interface:after {
    content: "options for the graphical user interface";
}

.tooltip_filters:after {
    content: "options for filtering the data";
}

.tooltip_export:after {
    content: "options for exporting to a file";
}

.tooltip_quick_config:after {
    content: "various presettings";
}

.tooltip_show_hide:after {
    content: "toggle the visibility of several GUI elements";
}

.tooltip_export_w:after {
    content: "Include additional columns/information in the exported file";
}

.tooltip_normalize_by:after {
    content: "normalize the matrix in various ways";
}

.tooltip_multi_mapping:after {
    content: "how to deal with reads that map to more than one loci";
}

.tooltip_in_group:after {
    content: "combine the datasets that belong to the same group by...";
}

.tooltip_between_groups:after {
    content: "combine the two groups by...";
}

.tooltip_stretch_scale:after {
    content: "stretch or scale the main matrix";
}

.tooltip_ddd:after {
    content: "Normalize away the distance dependent decay.";
}

.tooltip_ddd_show:after {
    content: "Display distance dependent decay as a separate plot.";
}

.tooltip_bin_aspect_ratio:after {
    content: "Enforce that bins are squares in the dataspace. Does nothing for coordinates systems other than the genome.";
}

.tooltip_snap_bin_size:after {
    content: "Restrict the allowed binsizes to round numbers. Does nothing for coordinates systems other than the genome.";
}

.tooltip_symmetry:after {
    content: "filter interactions for symmetry";
}

.tooltip_coordinates:after {
    content: "Pick the annotation used for the annotation coordinate system";
}


.tooltip_multiple_annotations_in_bin:after {
    content: "For annotation-based coordinate systems: pick how to deal with bins that encompass multiple annotations";
}

.tooltip_export:after {
    content: "export to a file";
}

.tooltip_grid_seq:after {
    content: "Configure biosmoother to look like the GRID-seq paper analysis";
}

.tooltip_radicl_seq:after {
    content: "Configure biosmoother to look like the RADICL-seq paper analysis";
}

.tooltip_color:after {
    content: "Pick the color palette for the heatmap. The range of the displayed data is shown via the [d and d] labels. The color scale range is shown via [s and s].";
}

.tooltip_info:after {
    content: "various information";
}
