<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    {{ bokeh_css }}
    {{ bokeh_js }}
    <script> // type="module"
        //import {ButtonClick} from "core/bokeh_events"
        window.onbeforeunload = function(){
            Bokeh.documents[0].get_model_by_name('quit_ti').value = "shutdown";
        };

        function poll_tools()
        {
            if(Bokeh.documents[0].get_model_by_name('toolbar') != null)
            {
                // report active tool
                var tools = Bokeh.documents[0].get_model_by_name('toolbar').tools;
                var set = new Set();
                for(const tool of tools)
                {
                    if(tool.active)
                        set.add(tool.tool_name);
                }
                var str = "";
                for(const tool of set)
                    str += tool + ";";
                if(str.length > 0)
                    str = str.slice(0,-1);
                Bokeh.documents[0].get_model_by_name('active_tools_ti').value = str;

                // set active tools if necessary
                if(Bokeh.documents[0].get_model_by_name('set_active_tools_ti').value != "")
                {
                    var arr = Bokeh.documents[0].get_model_by_name('set_active_tools_ti').value.split(";");
                    var set = new Set();
                    for(const tool of tools)
                        tool.active = arr.includes(tool.tool_name);
                    
                    Bokeh.documents[0].get_model_by_name('set_active_tools_ti').value = "";
                }
            }

            if(Bokeh.documents[0].get_model_by_name('func_tic_x') != null)
            {
                Bokeh.documents[0].get_model_by_name('func_tic_x').properties.args.update += 1;
                // @todo
                //Bokeh.documents[0].get_model_by_name('func_tic_x').change.emit();
            }
            if(Bokeh.documents[0].get_model_by_name('func_tic_y') != null)
                Bokeh.documents[0].get_model_by_name('func_tic_y').args.update += 1;

            setTimeout(poll_tools, 500);
        }
        window.onload = function(){
            setTimeout(poll_tools, 500);
        };
    </script>
    <link rel="stylesheet" href="smoother/static/css/styles.css"/>
    <link rel="stylesheet" href="smoother/static/css/tooltips.css"/>
    <link rel="icon" type="image/x-icon" href="smoother/static/favicon.ico">
    <title>Smoother</title>
  </head>
  <body style="overflow: hidden;">
  {{ plot_div|indent(8) }}
  {{ plot_script|indent(8) }}
  </body>
</html>